.full-height{
  min-height: 100%;
  /*border: 1px solid black;*/
  margin-top: 10px;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}
.logo-form{
  margin-bottom: 50px;
}
.logo-form h2{
  color: #434954;
}
.new-line p{
  white-space: pre-wrap;
}
.button-click{
  text-decoration: none;
  margin: 0 20px;
  background: #ffffff;
  color: #68a3ff;
  font-size: 130%;
  transition: all ease-in-out 500ms;
}
.button-click:hover{
  color: #3e87f9;
}
