<app-navigation></app-navigation>

<div class="container full-height">
  <div class="vertical-align row justify-content-center">
    <div *ngIf="note" class="col col-8">
        <div class="logo-form text-center">
          <h2>{{note.title}}</h2>
          <span>Last updated: {{note.created|date:'HH:mm'}} - {{note.created|date:'dd/MM/yyyy'}}</span>
        </div>
        <div class="text-center new-line">
          <p>{{note.body}}</p>
        </div>
        <div class="text-center">
          <span><a href="javascript:void(0)" class="button-click" (click)="goBack()">Back</a></span>
          <span><a href="javascript:void(0)" class="button-click" [routerLink]="['/note/', note.id, 'edit']">Edit</a></span>
        </div>
    </div>
  </div>
</div>
