<div class="container full-h">
  <div class="vertical-align row justify-content-center">
		<div class="col col-5">
			<div class="logo-form text-center">
				<h2>Welcome to NNotes</h2>
			</div>
			<div class="message-success">
				{{success}}
			</div>
			<div class="message-error">
				<p>{{allMessages['email']}}</p>
				<p>{{allMessages['username']}}</p>
				<p>{{allMessages['password1']}}</p>
				<p>{{allMessages['non_field_errors']}}</p>
			</div>
			<form [formGroup]="formRegistration" (ngSubmit)="onSubmit()" validate>
					<div class="form-group my-input">
					  <input #username formControlName="username" type="text" class="form-control" placeholder="Username">
					</div>
					<div class="form-group my-input">
					  <input #email formControlName="email"  type="text" class="form-control" placeholder="Password">
					</div>
					<div class="form-group my-input">
					  <input #password1 formControlName="password1"  type="password" class="form-control" placeholder="Enter password">
					</div>
					<div class="form-group my-input">
					  <input #password2 formControlName="password2"  type="password" class="form-control" placeholder="Enter password again">
					</div>
					<div class="form-group text-center">
						<button *ngIf="!formRegistration.invalid" class="login-button" type="submit">Sign up<i class="fa fa-check" aria-hidden="true"></i></button>
					</div>
			</form>
			<div class="text-center links-form">
				<p>already have an account? <a routerLink="/login">login here</a></p>
			</div>
		</div>
  </div>
</div>

