.navbar{
  border-bottom: 2px solid #68a3ff;
  min-height: 55px;
}
.dropdown-menu{
  width: 400px;
  height: auto;
}
.account{
  width: 100%;
}
.account-info{
  border-bottom: 1px solid #68a3ff;
  padding-bottom: 10px;
  /*height: 50%;*/
}
.account-info img {
  width: 65px;
  height: 65px;
}
.link-dec{
  color: #68a3ff;
  transition: all ease-in-out 500ms;
}
.link-dec:hover{
  text-decoration: none;
  color: #3e87f9;
}
.account-under{
  width: 100%;
  background-color: #f2f2f2;
  overflow: auto;
}
.account-under p{
  margin-bottom: 0;
  padding-bottom: 0;
}
.search-input input{
  border: 0;
  /*min-width: 300px;*/
  margin-bottom: 0;
  margin-top: 10px;
  border-bottom: 1px solid #68a3ff;
  /*border-bottom: 2px solid #9fc2f9;*/
  border-radius: 2px;
  padding: 0px 5px;
}
.search-div{
  position: absolute;
  width: 90%;
  z-index: 1000;
  /*margin-top: 2px;*/
}
.search-result{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.search-result:first-child{
  border-top: 1px solid #f2f2f2;
}
.search-result li{
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 35px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  background-color: white;
  cursor: pointer;
  
  font-size: 16px; 
  color: black;
}
.search-result li:hover{
  background-color: #f2f2f2;
}
