<nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="padding-bottom:0px">
          <div class="account">
            <div class="account-info container">
              <div class="row align-items-center">
                <div class="col">
                  <img src="http://wceacses.org/img/profiles/common.png" class="rounded" alt="">
                </div>
                <div class="col-9">
                  <span>{{user.username}}</span>
                  <br>
                  <span>{{user.email}}</span>
                  <p><a href="" class="link-dec">My Account</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="account-under text-center">
            <p><a href="javascript:void(0)" class="btn btn-default link-dec" (click)="logout()">Logout</a></p>
          </div>
        </div>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/note/create">Create note</a>
      </li>
    </ul>
    <div class="col-3 search-input">
      <input #search class="form-control" type="text" placeholder="Search note" (keyup)="searchNote(search.value)">
      <div class="search-div">
        <ul *ngFor="let note of notes" class="search-result">
          <li [routerLink]="['/note/', note.id, 'detail']">{{note.title}}</li>
        </ul>
      </div>
    </div>
    
  </div>
</nav>
