<app-navigation></app-navigation>
<div class="container full-height">
  
  <div *ngIf="note" class="vertical-align row justify-content-center">
    <div class="col col-8">
      <div class="logo-form text-center">
        <h2>Edit note</h2>
      </div>
      <form [formGroup]="formUpdate" (ngSubmit)="onSubmit(note.id)" validate>
        <div class="form-group my-input">
          <input #title formControlName="title" type="text" class="form-control" placeholder="Title">
        </div>
        <div class="form-group my-input">
          <textarea #body formControlName="body" class="form-control" rows="6" placeholder="Body"></textarea>
        </div>
        <div class="form-group text-center">
          <button *ngIf="!formUpdate.invalid" type="submit" class="login-button">Submit <i class="fa fa-check" aria-hidden="true"></i></button>
        </div>
        
      </form>
    </div>
  </div>
</div>

<div *ngIf="successMessage" class="container width-message">
  <div class="row">
    <div class="w-100 p-3 text-center">
      <img src="dist/images/loading.gif" alt="">
      <span class="delete-message"> {{successMessage}}</span>
    </div>
  </div>
</div>
