.full-height{
  min-height: 100%;
  /*border: 1px solid black;*/
  margin-top: 10px;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}
.logo-form{
  margin-bottom: 50px;
}
.logo-form h2{
  color: #434954;
}
.my-input input{
  border: 0;
  padding: 7px 0;
  font-weight: bold;
  margin-bottom: 0;
  border-bottom: 2px solid #68a3ff;
  /*border-bottom: 2px solid #9fc2f9;*/
  border-radius: 2px;
  padding: 10px 10px;
}
.my-input textarea{
  border: 0;
  padding: 7px 0;
  font-weight: bold;
  margin-bottom: 0;
  border-bottom: 2px solid #68a3ff;
  border-right: 2px solid #68a3ff;
  /*border-bottom: 2px solid #9fc2f9;*/
  border-radius: 2px;
  padding: 10px 10px;
}
.login-button{
  background: #ffffff;
  border: 0;
  color: #68a3ff;
  font-size: 130%;
  transition: all ease-in-out 500ms;
}
.login-button:hover{
  color: #3e87f9;
}
.login-button.clicked {
  border: 0;
}
.width-message{
  position: fixed;
  width: 100%;
  bottom: 1%;
}
.width-message img{
  width: 40px;
  height: 40px;
}
.delete-message{
  padding: 5px 20px;
  background-color: #68a3ff;
  border-radius: 5px;
  color: white;
}


