<div class="container full-height">
  
  <div class="row">
    
    <div *ngFor="let note of notes" class="notes col-lg-3 col-md-4">
      <div class="note container-fluid" (click)="onSelect(note)">
        <p title="{{note.title}}" class="title" [class.selected-title]="note === selectedNote"><span>{{note.title|slice:0:20}}<span *ngIf="note.title.length > 20" >...</span></span></p>
        <div class="container new-line">
          <p>{{note.body}}</p>
        </div>
        <div class="container bottom">
            <span *ngIf="(note.created|date:'dd/MM/yyyy') == (currentDate|date:'dd/MM/yyyy')">{{note.created|date:'HH:mm'}}</span>
            <span *ngIf="(note.created|date:'dd/MM/yyyy') != (currentDate|date:'dd/MM/yyyy')">{{note.created|date:'dd/MM/yy'}}</span>
          <span class="pull-right">
            <i class="fa fa-list-alt" aria-hidden="true" [routerLink]="['/note/', note.id, 'detail']"><span class="tooltip-h" >Preview...</span></i> 
            <i class="fa fa-pencil" aria-hidden="true" [routerLink]="['/note/', note.id, 'edit']"><span class="tooltip-h">Edit...</span></i>
            <i class="fa fa-trash-o" aria-hidden="true" (click)="delete(note)"><span  class="tooltip-h">Delete...</span></i>
          </span>
        </div>
      </div>
    </div>
    
    
    <div class="container" *ngIf="loadMoreButton==true">
    <div class="row justify-content-center load-more">
      <p (click)="loadMore(lastItem)">Load more</p>
    </div>
    </div>
    
  </div>
</div>


<div *ngIf="successDelete" class="container width-message">
  <div class="row">
    <div class="w-100 p-3 text-center">
      <span class="delete-message">{{successDelete}}</span>
    </div>
  </div>
</div>
