.full-height{
  min-height: 100%;
  /*border: 1px solid black;*/
  margin-top: 10px;
}
.note{
  background-color: #fcfcfc;
  min-height: 280px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}
.title{
  background-color: #f2f2f2;
  font-size: 140%;
}
.title span{
  margin: 0 12px;
}
.selected-title{
  background-color:  #68a3ff;
  font-size: 140%;
}
.selected-title span{
  margin: 0 12px;
}
.new-line{
  white-space: nowrap; 
  /*width: 12em; */
  height: 198px;
  overflow: auto;
  text-overflow: ellipsis;
  /*border: 1px solid #000000;*/
}

.new-line p{
  white-space: pre-wrap;
}
.bottom{
  position: absolute;
  bottom: 5px;
}

.tooltip-h{
  visibility: hidden;
  opacity: 0;
  background-color: #68a3ff;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  /*position*/
  position: absolute;
  margin-left: -35px;
  margin-top: 25px;
  transition:opacity 0.2s linear;
}
.fa-list-alt{
  transition: all ease-in-out 500ms;
}
.fa-list-alt:hover{
  color: #68a3ff;
}
.fa-list-alt:hover .tooltip-h{
  visibility: visible;
  opacity:1;
}
.fa-pencil{
  transition: all ease-in-out 500ms;
}
.fa-pencil:hover{
  color: #68a3ff;
}
.fa-pencil:hover .tooltip-h{
  visibility: visible;
  opacity:1;
}
.fa-trash-o{
  transition: all ease-in-out 500ms;
}
.fa-trash-o:hover{
  color: #68a3ff;
}
.fa-trash-o:hover .tooltip-h{
  visibility: visible;
  opacity:1;
}
.load-more p{
  color: #68a3ff;
  cursor: pointer;
  transition: all ease-in-out 500ms;
}
.load-more p:hover{
  text-decoration: none;
  color: #3e87f9;
}
.width-message{
  position: fixed;
  width: 100%;
  bottom: 1%;
}
.delete-message{
  padding: 5px 20px;
  background-color: #68a3ff;
  border-radius: 5px;
  color: white;
}

