<div class="container full-h">
  <div class="vertical-align row justify-content-center">
		<div class="col col-5">
			<div class="logo-form text-center">
				<h2>Activate your e-mail by clicking button bellow</h2>
			</div>
			<div class="message-success">
				<p>{{success}}</p>
			</div>
			<div class="message-error">
				<p>{{error}}</p>
			</div>
			<form [formGroup]="formConfirm" (ngSubmit)="onSubmit()" validate>
					<div class="form-group my-input">
					 <input #key formControlName="key" type="text" class="form-control" placeholder="key" hidden="">
					</div>
					<div class="form-group text-center">
						<button *ngIf="!formConfirm.invalid" class="login-button" type="submit">Activate<i class="fa fa-check" aria-hidden="true"></i></button>
					</div>
			</form>
			<div class="text-center links-form">
			<p *ngIf="login==true">Now you can login - <a routerLink="/login">login here</a></p>
			</div>
		</div>
  </div>
</div>


