<div class="container full-h">
  <div class="vertical-align row justify-content-center">
		<div class="col col-5">
			<div class="logo-form text-center">
				<h2>Welcome to NNotes</h2>
			</div>
			<div class="message-success">
			</div>
			<div class="message-error">
				{{allMessages['non_field_errors']}}
			</div>
			<form [formGroup]="formLogin" (ngSubmit)="onSubmit()" validate>
					<div class="form-group my-input">
					  <input #username formControlName="username" type="text" class="form-control" placeholder="Username">
					</div>
					<div class="form-group my-input">
					  <input #password formControlName="password"  type="password" class="form-control" placeholder="Password">
					</div>
					<div class="form-group text-center">
						<button *ngIf="!formLogin.invalid" class="login-button" type="submit">Login<i class="fa fa-check" aria-hidden="true"></i></button>
					</div>
			</form>
			<div class="text-center links-form">
			  <p>forgot your password? <a routerLink="/password-reset">click here</a></p>
			  <p>new user? <a routerLink="/registration">create new account</a></p>
			</div>
		</div>
  </div>
</div>

