.full-h{
  height: 100vh;
}
.logo-form{
  margin-bottom: 50px;
}
.logo-form h2{
  color: #434954;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.my-input input{
  border: 0;
  padding: 7px 0;
  font-weight: bold;
  margin-bottom: 0;
  border-bottom: 2px solid #68a3ff;
  /*border-bottom: 2px solid #9fc2f9;*/
  border-radius: 2px;
  padding: 10px 10px;
}
.login-button{
  background: #ffffff;
  border: 0;
  color: #68a3ff;
  font-size: 130%;
  transition: all ease-in-out 500ms;
}
.login-button:hover{
  color: #3e87f9;
}
.login-button.clicked {
  border: 0;
}
.links-form a{
  color: #68a3ff;
  transition: all ease-in-out 500ms;
}
.links-form a:hover{
  text-decoration: none;
  color: #3e87f9;
}
.message-success{
  color: #434954;
  border-left: 3px solid #2ecc71;
  border-radius: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  padding: 0 20px 0 17px;
}
.message-error{
  color: #434954;
  border-left: 3px solid #e74c3c;
  border-radius: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  padding: 0 20px 0 17px;
}
