<div class="container full-h">
  <div class="vertical-align row justify-content-center">
		<div class="col col-5">
			<div class="logo-form text-center">
				<h2>Password reset</h2>
			</div>
			<div class="message-success">
				<p>{{success}}</p>
			</div>
			<div class="message-error">
				<p>{{allMessages['email']}}</p>
				<p>{{allMessages2['email']}}</p>
				<p>{{allMessages['non_field_errors']}}</p>
			</div>
			<form [formGroup]="formReset" (ngSubmit)="onSubmit()" validate>
					<div class="form-group my-input">
					  <input #email formControlName="email" type="text" class="form-control" placeholder="Enter your e-mail">
					</div>
					<div class="form-group text-center">
						<button *ngIf="!formReset.invalid" class="login-button" type="submit">Login<i class="fa fa-check" aria-hidden="true"></i></button>
					</div>
			</form>
			<div class="text-center links-form">
			<p>If you remember your password: <a routerLink="/login">login here</a></p>
			</div>
		</div>
  </div>
</div>

